
# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean
yarn.lock

# Directories
coverage/
src/
tests/
types/
node_modules/
dist/

# Custom
*.min.js
*.map

# Configs
.babelrc
.eslintignore
.eslintrc.js
.flowconfig
.prettierignore
babel.config.js
book.json
jest.config.js
prettier.config.js
tsconfig.json
tsconfig.options.json
*.tsbuildinfo
webpack.config.js
